<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSRemindersUsageDescription</key>
        <string>Lifergy will access your Reminders to set event reminders for meetups</string>
        <key>NSCalendarsUsageDescription</key>
        <string>Lifergy will access your Calendar to set events for meetups</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>twitterkit-IpnR2aW8UjYC2wUKcQrXJaMcQ</string>
                    <string>com.googleusercontent.apps.603993801538-id1ionn94hcvvd0kfqse89i0i9v50idi</string>
                    <string>com.googleusercontent.apps.435938162102-sujkk0jmuqpnfkon1t7gnrlsh0bd6o32</string>
                    <string>fb295586377581284</string>
                </array>
            </dict>
        </array>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>FacebookAppID</key>
        <string>295586377581284</string>
        <key>FacebookDisplayName</key>
        <string>Lifergy</string>
        <key>LSApplicationCategoryType</key>
        <string>&lt;key&gt;LSApplicationQueriesSchemes&lt;/key&gt;
            &lt;array&gt;
            &lt;string&gt;googlechromes&lt;/string&gt;
            &lt;string&gt;comgooglemaps&lt;/string&gt;
            &lt;/array&gt;</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>comgooglemaps</string>
            <string>fbapi</string>
            <string>fb-messenger-api</string>
            <string>fbauth2</string>
            <string>fbshareextension</string>
            <string>twitter</string>
            <string>twitterauth</string>
        </array>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
            <key>NSExceptionDomains</key>
            <dict>
                <key>http://localhost:8888/lifergytest.php</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
            </dict>
        </dict>
        <key>NSCameraUsageDescription</key>
        <string>You can choose to take a picture to save as your profile picture</string>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>This app&apos;s basic functionality will involve the use of your current location.</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>You can choose to search your photo library for a profile picture</string>
        <key>UIAppFonts</key>
        <array>
            <string>Montserrat-Black.otf</string>
            <string>Montserrat-Bold.otf</string>
            <string>Montserrat-ExtraBold.otf</string>
            <string>Montserrat-ExtraLight.otf</string>
            <string>Montserrat-Light.otf</string>
            <string>Montserrat-Medium.otf</string>
            <string>Montserrat-Regular.otf</string>
            <string>Montserrat-SemiBold.otf</string>
            <string>Montserrat-Thin.otf</string>
            <string>MontserratAlternates-Black.otf</string>
            <string>MontserratAlternates-Bold.otf</string>
            <string>MontserratAlternates-ExtraBold.otf</string>
            <string>MontserratAlternates-ExtraLight.otf</string>
            <string>MontserratAlternates-Light.otf</string>
            <string>MontserratAlternates-Medium.otf</string>
            <string>MontserratAlternates-Regular.otf</string>
            <string>MontserratAlternates-SemiBold.otf</string>
            <string>MontserratAlternates-Thin.otf</string>
        </array>
        <key>UIBackgroundModes</key>
        <array>
            <string>remote-notification</string>
        </array>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
    </dict>
</plist>

